# Requis pour connecter le bot Discord
DISCORD_TOKEN=

# Facultatif : liens Spotify album/playlist
SPOTIFY_CLIENT_ID=
SPOTIFY_CLIENT_SECRET=

# Facultatif si ces programmes sont dans le PATH
YTDLP_PATH=
FFMPEG_PATH=

# Facultatif
COMMAND_PREFIX=!
